<!--Opc説明ページ-->
<div class="boxes">
  <div class="opc-description">
    <div class="opc-description-text">
      <h1 class="title">
        Opc(Online Psychiatric Consultation)は<br>
        中学時代大きな挫折体験をした大学生が<br>
        心療相談に答えるアプリです。<br>
        <br>
        当時の自分が心療内科になんか通いたくないと思った経験から開発しました。<br>
        <br>
        オンラインで気軽に質問できる場と<br>
        Spotifyとの連携で音楽の提案を提供することで<br>
        ユーザーの方々が心療内科に通うきっかけや<br>
        手助けになれればと思います。
      </h1>
    </div>
    <div class="opc-description-profile">
      <%= image_tag "/profile-image.jpg", alt: "画像がありません", style: "width: 100%" %>
      <h1>FURUYA YUUKI<h1> 
    </div>
  </div>
</div.

