<main>
  <div class="container">
     <h1>質問する</h1>
     <%= form_tag("/questions/create") do %>
       <div class="form">
         <textarea></textarea>
         <input type="submit" value="質問">
       </div>
     <% end %>
  </div>
</main>