<div class="container">
  <div class="boxes">
    <div class="question-background">
     <h1>質問する</h1>
     <%= form_with model: @question do |f| %>
       <%= f.text_area :title, placeholder: "例：生活リズムについて", size: "33x1", maxlength: "20"%>
       <br>
       <%= f.text_area :text, placeholder: "例：生活リズムを治すにはどうしたらいいですか？", size: "33x5", maxlength: "100"%>
       <br>
       <%= f.submit "質問する" %>
     <% end %>
    </div>
  </div>  
</div>

