<main>
  <div class="container">
    <% @questions.each do |question| %>
      <div>
        <%= link_to(question.text, "/questions/#{question.id}") %>
      </div>
    <% end %>
    <div>
      <%= link_to("質問する", "/questions/new") %>
    </div>
  </div>
</main>