<div class="container">
  <div class="boxes">
    <% @questions.each do |question| %>
      <div class="box">
        <%= link_to(question.text, "/questions/#{question.id}", class: "box-text")  %>
      </div>
    <% end %>
    <div class="question-box">
      <%= link_to("質問する", "/questions/new", class: "question") %>
    </div>
  </div>
</div>

