.boxes
  .box
    h1.box1
      = @admin.name
      
    - if @admin.avatar.attached?
      = image_tag @admin.avatar, class: "box2"
    - else
      = image_tag ("/no-profile.png"), class: "box2"
      
    = link_to "回答", admin_path(@admin.id), class: "box3-1"
    
    - if current_user || current_admin === @admin
      = link_to "プロフィール編集", edit_admin_registration_path, class: "box4"
      
  - @admin.answers.order(created_at: :desc).each do |answer|
    |  <div class="box" id="question_
    = answer.question_id
    | "> 
    = render 'top/top', question: answer.question