<div class="container">
  <div class="boxes">
    <div class="box">
      <%= form_tag("/questions/create") do %>
        <h1>ニックネーム</h1>
        <div class="form">
          <textarea name="text"></textarea>
        </div>
        <h1>メールアドレス</h1>
        <div class="form">
          <textarea name="text"></textarea>
        </div>
        <input type="submit" value="プロフィールを登録する">
      <% end %>
    </div>
  </div>
</div>