.boxes
  .box
    h1.box1
      = @user.nickname
    - if @user.avatar.attached?
      = image_tag @user.avatar, class: "box2"
    - else
      = image_tag ("/no-profile.png"), class: "box2"
    = link_to "投稿", user_path(@user.id), class: "box3-1"
    = link_to "いいね", likes_path(@user.id), class: "box3-2"
    - if current_user || current_admin === @user
      = link_to "プロフィール編集", edit_user_registration_path, class: "box4"
      
  - @user.questions.order(created_at: :desc).each do |question|
    |  <div class="box" id="question_
    = question.id
    | "> 
    = render 'top/top', question: question