<header>
  <div class="container">
    <ul class="header-list">
      <li class="header-item">
        <a href="/"><img src="/hakui.png" alt="ç”»åƒãŒã‚ã‚Šã¾ã›ã‚“" ></a>
      </li>
      <li class="header-item">
        <a href="#"><p>ðŸ”Ž</p></a>
      </li>
      <li class="header-item">
        <a href="#"><img class="margin-top" src="/no-profile.png" alt="ç”»åƒãŒã‚ã‚Šã¾ã›ã‚“" ></a>
      </li>
    </ul>
  </div>
</header>

<main>
  
</main>