<div class="container">
  <ul class="footer-list">
    <li class="footer-item">
      <%= link_to playlists_path do %>
        <i class="fas fa-music" style="color: white"></i>
      <% end %>
    </li>
  </ul>
</div>