<div class="user-list">
  <h2>ユーザー一覧</h2>
  <% users.each do |user| %>
    <div class="user-box">
      <% if user.avatar.attached? %>
        <%= link_to image_tag(user.avatar), user_path(user.id), class: "user-icon" %>
      <% else %>
        <%= link_to image_tag("/no-profile.png"), user_path(user.id), class: "user-icon" %>
      <% end %>
      <p class="user-name"><%= user.nickname %></p>
    </div>
  <% end %>
  <footer>©️2021 FuruyaYuuki</footer>
</div>