.admin-background {
  width: 600px;
  height: 500px;
  background-color: silver;
  line-height: 25px;
}
// スマートフォン
@media only screen and (max-width:400px) {
  .admin-background {
    width: 300px;
  }
}
@media only screen and (min-width:401px) and (max-width:767px) {
  .admin-background {
    width: 400px;
  }
}
// タブレット
@media only screen and (min-width:768px) and (max-width:1023px) {

}