.like-link {
  text-decoration: none;
}

.like-link:hover {
  background-color: #fff!important;
}

.like-btn {
  font-size: 15px;
  color: #808080;
}
 
.unlike-btn {
  font-size: 15px;
  color: #e54747;
}

.search-background {
  width: 600px;
  height: 200px;
  margin-bottom: 2px;
  background-color: silver;
  display: grid;
  place-items: center;
}

.search-text {
  font-size: 20px;
}

.search-image {
  padding-top: 10px; 
  margin-right: 10px;
}

// スマートフォン

@media only screen and (max-width:400px) {
  .search-background {
    width: 100%;
  }
}
@media only screen and (min-width:401px) and (max-width:767px) {
  .search-background {
    width: 400px;
  }
}
