// initial state
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 30px;
}

.container {
  width: 100%;
  text-align: center;
}

// application.html.erb
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: culumn;
  padding-top: 47px;
}
header {
  background-color: rgb(80, 77, 77);
  height: 5%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header-list {
  display: grid;

  grid-template-columns: 33% 33% 33%;
  justify-content: center;
}
.header-item{
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.header-item a{
  font-size: 13px;
  transition: all 0.5s;
  margin:0;
  padding:0;
}
.header-item a:hover {
  color: rgba(255, 255, 255, 0.973);
}
.description {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
}
.header-item:hover .description{
    display: inline-block;
    top: 0px;
    left: 80px;
}
.content {
  display: flex;
  flex: 1;
}
.center {
  flex: 1;
}
.left {
  width: 500px;
  padding-top: 10px;
  display: grid;
  justify-content: center;
}
.right {
  width: 500px;
  padding-top: 10px;
  display: grid;
  justify-content: center;
}

// top.html.erb
.boxes {
  width: 100%;
  display: grid;
  justify-content: center;
}
.box {
  height: 200px;
  background-color: silver;
  padding-left: 10px;
  margin-bottom: 2px;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 35px 1fr;
  align-items: center;
}
.box1 {
  font-size: 20px;
  grid-row: 1;
  grid-column: 1 / span 2;
}
.box1 a {
  color: black;
}
.box1 a:hover {
  background-color: silver;
}
.box2 {
  font-size: 15px;
  grid-row: 2;
  grid-column: 1 / span 2;
}
.box3-1 {
  grid-row: 3;
  grid-column: 1;
}
.box3-2 {
  font-size: 15px;
  grid-row: 3;
  grid-column: 2;
}
.box4 {
  padding-left: 0;
  grid-row: 4;
  grid-column: 1 / span 2;
}
.box-icon {
  float: left;
  margin-right: 10px;
}
// link_to area spread
.box,
.box4 a {
  position: relative;
}
.box1 a:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.left-content {
  position: fixed;
  bottom: 100px;
  left: 170px;
  font-size: 30px;
}
.question-box {
  position: fixed;
  bottom: 100px;
  right: 200px;
  font-size: 30px;
}
.signup-box {
  position: fixed;
  bottom: 200px;
  right: 170px;
  font-size: 30px;
}

// スマートフォン
@media only screen and (max-width:400px) {
  header {
    height: 7%;
  }
  .header-list {
    margin-top: 1%;
  }
  .header-item a {
    font-size: 10px;
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .box {
    height: 250px;
    padding-left: 10px;
    margin-bottom: 2px;
  }
  .question-box {
    width: 100%;
    top: 15%;
    bottom: 0;
    right: 0;
    left: 67%;
    font-size: 20px;
  }
  .signup-box {
    width: 100%;
    top: 10%;
    bottom: 0;
    left: 67%;
    font-size: 20px;
  }
}
@media only screen and (min-width:401px) and (max-width:767px) {
  body {
    padding-top: 50px;
  }
  header {
    height: 7%;
  }
  .header-list {
    margin-top: 2%;
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .box {
    width: 100%;
    height: 200px;
    padding-left: 10px;
    margin-bottom: 2px;
  }
  .question-box {
    width: 100%;
    top: 15%;
    bottom: 0;
    right: 0;
    left: 72%;
    font-size: 20px;
  }
  .signup-box {
    width: 100%;
    top: 10%;
    bottom: 0;
    left: 72%;
    font-size: 20px;
  }
}

// タブレット
@media only screen and (min-width:768px) and (max-width:1023px) {
  body {
    padding-top: 70px;
  }
  header {
    height: 7%;
  }
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .box {
    width: 100%;
    height: 300px;
    padding-left: 10px;
    margin-bottom: 2px;
  }
  .question-box {
    width: 100%;
    top: 15%;
    bottom: 0;
    right: 0;
    left: 75%;
    font-size: 30px;
  }
  .signup-box {
    width: 100%;
    top: 10%;
    bottom: 0;
    left: 75%;
    font-size: 30px;
  }
}
