.user-background {
  width: 600px;
  height: 500px;
  background-color: silver;
}
// スマートフォン
@media only screen and (max-width:400px) {
  .user-background {
    width: 300px;
  }
}
@media only screen and (min-width:401px) and (max-width:767px) {
  .user-background {
    width: 400px;
  }
}