<div class="boxes">
  <div class="search-background">
    <h1 style="text-align: center;">検索画面</h1>
    <%= form_tag(search_path, method: :get) do %>
      <%= text_field_tag 'text' %>
      <%= select_tag 'model', options_for_select({ "Question & Playlist" => "question", "User" => "user" }) %>
      <%= submit_tag '検索' %>
    <% end %>
  </div>
</div>