<!--検索窓を追加-->
<h3>曲名で検索</h3>
<%= form_tag(search_show_path, method: :get) do %>
  <%= text_field_tag 'show' %>
  <%= submit_tag '曲名検索' %>
<% end %>

<!--RSpotifyで検索した結果を表示させる-->
<h1>検索結果</h1>
<% if @musics.present? %>
  <% @musics.each do |music| %>
    <p><%= music.name %></p>
  <% end %>
<% else %>
  <h1>ありません</h1>
<% end %>